@import "tailwindcss";

:root {
  --bg-primary: #fcf8f8;
  --text-primary: #1c0d0a;
  --text-secondary: #bc5644;
  --accent: #b2ce75;
  --bg-accent: #bc5644;
  --accent-secondary: #d7db99;
}

[data-theme="dark"] {
  --bg-primary: #070303;
  --text-primary: #f6e8e5;
  --text-secondary: #bb5644;
  --accent: #6f8c31;
  --bg-accent: #bb5644;
  --accent-secondary: #616624;
}

[data-theme="dark"] img[src$=".svg"] {
  filter: invert(1);
}

[data-theme="light"] img[src$=".svg"] {
  filter: invert(0);
}

body {
  background-color: var(--bg-primary);
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
}

.bg-primary {
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  background-color: var(--bg-primary);
}

.bg-accent {
  background-color: var(--bg-accent);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.accent {
  color: var(--accent);
}

.accent-secondary {
  color: var(--accent-secondary);
}

@keyframes pulse-expand {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(3.2);
    opacity: 0;
  }
}

.pulse-click {
  position: fixed;
  border-radius: 50%;
  background: rgb(148, 138, 133);
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 9999;
  transform-origin: center;
  animation: pulse-expand 0.44s ease-out forwards;
}