@import "tailwindcss";

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

:root {
  --bg-primary: #fcf8f8;
  --text-primary: #1c0d0a;
  --text-secondary: #bc5644;
  --accent: #b2ce75;
  --bg-accent: #bc5644;
  --accent-secondary: #d7db99;
  --contrast-color: #000000;
  --slight-accent: #f7efef;
}

[data-theme="dark"] {
  --bg-primary: #070303;
  --text-primary: #f6e8e5;
  --text-secondary: #bb5644;
  --accent: #6f8c31;
  --bg-accent: #bb5644;
  --accent-secondary: #616624;
  --contrast-color: #ffffff;
  --slight-accent: #080707;
}

[data-theme="dark"] img[src$=".svg"] {
  filter: invert(1);
}

[data-theme="light"] img[src$=".svg"] {
  filter: invert(0);
}

body {
  background-color: var(--bg-primary);
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
}

a[class~="extern-link-icon"]::after {
  content: ' ⧉';
  font-size: 0.8em;
  display: inline-block;
  vertical-align: super;
}

.pulse-click {
  position: fixed;
  border-radius: 50%;
  background: rgb(148, 138, 133);
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 9999;
  transform-origin: center;
  animation: pulse-expand 0.44s ease-out forwards;
}

 /* animations */
@keyframes blink {
  0%   {opacity: 1;}
  49.99%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes pulse-expand {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(3.2);
    opacity: 0;
  }
}

@keyframes hover-float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  100% {
    opacity: var(--blurEndOpacity, 1);
    filter: blur(0);
  }
}

 /* utilities */
@utility bg-primary {
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  background-color: var(--bg-primary);
}

@utility border-primary {
  border-color: var(--text-primary);
}

@utility bg-accent {
  background-color: var(--bg-accent);
}

@utility bg-accent-dark {
  background-color: #a14939
}

@utility text-primary {
  color: var(--text-primary);
}

@utility text-secondary {
  color: var(--text-secondary);
}

@utility accent {
  color: var(--accent);
}

@utility accent-secondary {
  color: var(--accent-secondary);
}

@utility contrast-color {
  color: var(--contrast-color);
}

@utility slight-accent {
  background-color: var(--slight-accent);
}

@utility animation-paused {
  animation-play-state: paused !important;
}